:root{
    --primary-color: #060;
    --br: .4em;
}
*{
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
body{
    background: url("../images/green.jpg") fixed;
    margin: 0;
    height: 100%;
}
.wrapper{
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 2em 0;
}
/* header */
.header--1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header__title{
    font-size: 2.6em;
    padding: .4em;
    margin: 0;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--br);
}
#header__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header__form input{
    height: 3em;
    border: 1px solid #aaa;
    background-color: #fff;
}
#header__form input:nth-child(1){
    border-right: none;
    outline: none;
    border-radius: var(--br) 0 0 var(--br);
}
#header__form input:nth-child(2){
    border-left: none;
    border-radius: 0 var(--br) var(--br) 0;
}
.header__ul--container{
    display: flex;
    padding-left: 0;
    background-color: #222;
    border-radius: var(--br);
    overflow: hidden;
}
.header__ul--container li{
    list-style: none;
    padding: 1em 1.5em;
    transition: background-color .2s;
}

.header__ul--container li:hover{
    background-color: var(--primary-color);
}
.header__ul--container li:active{
    filter: brightness(1.1);
}
.header__ul--container a{
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
}
/* slider */
.slider,
.bx-viewport{
    max-height: 400px !important;
    border-radius: var(--br);
}
.slider__img{
    object-fit: cover;
    object-position: center;
}
/* main */
.main{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.section{
    max-width: 55%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 2em;
}
.article--header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.article--header button{
    height: min-content;
    padding: .5em 1em;
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #000;
    transition: filter .2s;
    border-radius: var(--br);
}
.article--header button:hover{
    filter: brightness(1.5);
}
.article--header button:active{
    filter: brightness(1);
}
.article__left h2{
    font-size: 2em;
    margin: 0;
}
.article__left p{
    margin: 0;
}
.paragraph{
    text-align: justify;
}

/* aside */
.aside{
    max-width: 320px;
    margin-top: 3em;
}
aside h2{
     background-image: url(../images/lines.png);
     text-align: center;
     font-size: 1.2em;
     border-radius: var(--br);
}
aside h2 span{
    background-color: #fff;
    padding: 0 .5em;
    border-radius: var(--br);
}
.whoim__img{
    width: 320px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--br);
}
.whoim p{
    text-align: justify;
}
.singup{
    margin-top: 3em;
}
.singup__form{
    display: flex;
    flex-direction: column;
}
.singup__form input{
    height: 3rem;
    border: none;
    transition: background-color .2s;
    border-radius: var(--br);
}
.singup__form input:hover{
    background-color: #ddd;
}
.singup__form input:focus{
    background-color: #eee;
    border-radius: var(--br);
}
.singup__form input[type="submit"]{
    margin-top: 1em;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.1em;
}
.singup__form input[type="submit"]:hover{
    filter: brightness(1.5);
}
.singup__form input[type="submit"]:active{
    filter: brightness(1);
}
.singup__form label{
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: -1px;
}
input:focus{
    box-shadow: 0 0 .5em #000;
    outline: none;
    border: none;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.footer p{
    font-weight: 300;
    font-size: .9em;
}
.footer a{
    text-decoration: none;
    color: #00f;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

/* themes */
.change__theme{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .5em;
    background-color: #0004;
    height: min-content;
    width: min-content;
    border-radius:0 var(--br) var(--br) 0;
}
.theme--box{
    width: 25px;
    height: 25px;
    border-radius: var(--br);
    cursor: pointer;
}
#to-green{background-color: #060;}
#to-red{background-color: #f33;}
#to-blue{background-color: #33f;}